.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body{
    text-align: center;
}
.card-head{
    padding:40px 0 0 0;
    text-align: center;
}
.card-img{
    width: 100px;
    height: 100px;
}
.card-date{
    font-size: 17px;
    margin: 0;

}
.card-text{
    font-size: 14px;
}
.flex-view-skill{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
}

.flex-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn{
    font-size: 14px !important;
}
.wfh{
    font-size: 12px !important ;
    margin-bottom: 5px;
}
